@font-face {
  font-family: 'Goyang';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Goyang.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

body * {
  font-family: Goyang;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

#App {
  margin: 1.5em auto;
  max-width: 1200px;
  column-gap: 1.5em;
}

.SearchSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
}

.SearchInput {
  width: 100%;
  font-size: 40px;
  padding: 10px 15px;
}

.SearchRandom {
  margin: 0 0 0 0.5em;
  padding: 0.5em;
  width: 7.777%;
  font-size: 15px;
  border-radius: 15px;
}


.SearchKeyword {
  margin-top: 10px;
  margin-right: 10px;
}

.SearchKeyword > .Keyword {
  padding: 0.125em 0.25em;
  border-radius: 15px;
  font-size: 1.25em;
  font-weight: bold;
}

.Keyword:hover {
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  color: white;
}

.SearchResult {
  margin-top: 10px;
  display: grid;
  /* 검색 결과 미디어 쿼리 부분은 아래 부분의 repeat 을 수정한다 */
  grid-template-columns: repeat(4, minmax(250px, 1fr));
  grid-gap: 10px;
}

@media (max-width : 992px) { 
  .SearchRandom {
    width: 9%;
    font-size: 12px;
  }
  .SearchResult {
    grid-template-columns: repeat(3, minmax(250px, 1fr));
  }
}
@media (max-width : 768px) { 
  .SearchRandom {
    width: 7%;
    font-size: 8px;
  }
  .SearchResult {
    grid-template-columns: repeat(2, minmax(250px, 1fr));
  }
}
@media (max-width : 576px) { 
  .SearchRandom {
    width: 5%;
    font-size: 6px;
  }
  .SearchResult {
    grid-template-columns: repeat(1, minmax(250px, 1fr));
  }
}

.SearchResult img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.SearchResult .item {
  background-color: #eee;
  display: inline-block;
  margin: 1em 0 1em 0;
  width: 100%;
}

.ImageInfo {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.ImageInfo .title {
  display: flex;
  justify-content: space-between;
}

.ImageInfo .title,
.ImageInfo .description {
  padding: 5px;
}

.ImageInfo .content-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 5px;
}

.ImageInfo .content-wrapper img {
  width: 100%;
}

.Loading {
  z-index: 1;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
  
  font-weight: bold;
  font-size: 36px;
}

.Loading > div {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}


/* dark mode 처리
@media (prefers-color-scheme: dark) {
  body {
    background-color: #000;
    color: white;
  }
}
*?
