.todo-modal-components {
  display: flex;
  flex-direction: column;
  justify-content: center;

  [class*="modal-create"] {
    margin: 0.25em 2.5em;
    * {
      width: 100%;
    }
  }

  [class$="tagList"] {
    font-size: 0.75em;

    .delete-button {
      margin: 0.125em 0.25em;
      width: 2.5px;

      background-color: red;
    }
  }

  [class$="date"] {
    display: flex;
    flex-direction: row;
    input {
      margin: auto;
    }
  }
}
