html {
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  border: 1px solid black;
  border-radius: 15px;

  width: 25vw;
  height: 75vh;

  margin: auto;
}

button {
  padding: 0.25em 0.75em;

  font-weight: bold;
  border-radius: 10px;

  transition: 0.25s ease-out;
}

button:hover {
  cursor: pointer;
  transition: 0.25s ease-in;
}

button[class*="green"] {
  color: #00c00c;
  border: 1px solid #00c00c;
  background-color: white;
}

button[class*="green"]:hover {
  color: white;
  background-color: #00c00c;
}

button[class*="red"] {
  color: #ee0000;
  border: 1px solid #ee0000;
  background-color: white;
}

button[class*="red"]:hover {
  color: white;
  background-color: #ee0000;
}

button[class*="black"] {
  color: black;
  border: 1px solid black;
  background-color: white;
  transition: none;
}

button[class*="black"]:hover {
  color: white;
  border: 1px solid white;
  background-color: black;
  transition: none;
}
