.login-components {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  height: 100%;

  form {
    .login-id,
    .login-password {
      display: flex;
      flex-direction: column;

      padding: 0.75em;

      label {
        font-size: 10px;
      }
    }
  }

  .buttons {
  }
}
